docs/build/

sky130A/libs.ref/sky130_fd_sc_hs
#sky130A/libs.ref/sky130_fd_pr
sky130A/libs.ref/sky130_fd_pr/mag
sky130A/libs.ref/sky130_fd_pr/gds
sky130A/libs.ref/sky130_fd_pr/lef
#sky130A/libs.ref/sky130_fd_pr/spice
sky130A/libs.ref/sky130_fd_sc_lp
sky130A/libs.ref/sky130_fd_sc_hd
sky130A/libs.ref/sky130_fd_sc_hvl
sky130A/libs.ref/sky130_fd_sc_ms
sky130A/libs.ref/.gitignore
sky130A/libs.ref/sky130_fd_io
sky130A/libs.ref/sky130_fd_sc_hdll
sky130A/libs.ref/sky130_ml_xx_hd
sky130A/libs.ref/sky130_fd_sc_ls
sky130A/libs.tech/irsim
sky130A/libs.tech/qflow
#sky130A/libs.tech/ngspice
sky130A/libs.tech/netgen
sky130A/libs.tech/.gitignore
sky130A/libs.tech/magic
sky130A/libs.tech/xcircuit
sky130A/libs.tech/xschem
sky130A/libs.tech/combined
sky130A/libs.tech/openlane
sky130A/libs.tech/klayout
